/* 
Main wrapper takes up entire page, using flex layout. Using column to enable a left nav
*/
.App {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.App .body {
    min-height: 100vh; 
    display: flex;
    flex-direction: row;
}

.SideNav {
    min-height: 100vh; 
}